@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400&display=swap'); /* Importa ARAME Mono Regular */

body {
    font-family: 'Azeret Mono', monospace; /* Aplica la fuente ARAME Mono Regular */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('glitch.gif') no-repeat center center/cover;
    z-index: -2;
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.menu-container {
    position: relative;
    padding: 0 0px 20px 0px;
    text-align: center;
    z-index: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3333dc;
    background-image:
        repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 2px),
        repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 2px);
    background-size: 2px 2px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
    filter: invert(1);
}

.discount-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.discount-text {
    font-size: 20px;
    color: white; /* Color blanco para "TRANSFERENCIA CONFIRMADA." */
    margin-bottom: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-align: center; /* Asegura que el texto esté centrado */
}

/* Nueva clase para la palabra "DESCUENTO" con glow rojo */
.discount-word-red {
    color: #FF0000; /* Color rojo */
    text-shadow:
        0 0 0px #FF0000, /* Pequeño glow */
        0 0 5px #FF0000, /* Mediano glow */
        0 0 13px #FF0000; /* Grande glow */
}

.menu-items.discount-options {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu-item {
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: inherit;
}

.menu-item img {
    width: 130px;
    height: auto;
}

footer {
    position: absolute;
    bottom: 50px;
    text-align: center;
    color: white;
    font-size: 14px;
    z-index: 2;
}

/* Estilos para el hover */
.menu-item:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.menu-item p {
    color: black;
}